# Configuration file

dimension {
    I:"Abyss ID"=800
    I:"Ancient Cavern ID"=801
    I:"Barathos ID"=802
    I:"Candyland ID"=803
    I:"Celeve ID"=804
    I:"Creeponia ID"=805
    I:"Crystevia ID"=806
    I:"Deeplands ID"=807
    I:"Dustopia ID"=808
    I:"Gardencia ID"=809
    I:"Greckon ID"=810
    I:"Haven ID"=811
    I:"Immortallis ID"=812
    I:"Iromine ID"=813
    I:"LBorean ID"=814
    I:"Lelyetia ID"=815
    I:"Lunalus ID"=816
    I:"Mysterium ID"=817
    I:"Precasia ID"=818
    I:"Runandor ID"=819
    I:"Shyrelands ID"=820
    I:"Vox Ponds ID"=821
}


general {
    B:DetailedDebugging=false
    B:HideNoticeboard=false
    B:ShowDailyMessages=true
    B:ShowVanityLevels=true
    B:ShowXpParticles=true
}


guiresource {
    I:CreationBarX=50
    I:CreationBarY=2
    I:EnergyBarX=75
    I:EnergyBarY=2
    I:RageBarX=125
    I:RageBarY=2
    I:RevengeIconX=150
    I:RevengeIconY=2
    I:SoulBarX=25
    I:SoulBarY=2
    I:TributeBarX=100
    I:TributeBarY=2
}


guiskill {
    I:AlchemyX=158
    I:AlchemyY=65
    I:AnimaX=28
    I:AnimaY=65
    I:AuguryX=80
    I:AuguryY=30
    I:ButcheryX=184
    I:ButcheryY=65
    I:CreationX=54
    I:CreationY=30
    I:EngineeringX=184
    I:EngineeringY=30
    I:ExpeditionX=80
    I:ExpeditionY=65
    I:ExtractionX=54
    I:ExtractionY=65
    I:ForagingX=106
    I:ForagingY=30
    I:HaulingX=210
    I:HaulingY=65
    I:HunterX=28
    I:HunterY=30
    I:InfusionX=132
    I:InfusionY=30
    I:InnervationX=210
    I:InnervationY=30
    I:LoggingX=132
    I:LoggingY=65
    I:RunationX=158
    I:RunationY=30
    I:VulcanismX=106
    I:VulcanismY=65
}


